{% extends "base.html" %}
{% load i18n %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}
    <style type="text/css">
    form div.field {
    font-size:25px;
    color:#666;
    {#width:350px;#}
    height:45px;
    margin-bottom:10px;
    padding:6px 12px;
    background:#efefef;
    border-radius:7px;
}
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br><br><h1>{% trans 'Payment Details' %}</h1><br>

                <form id="payment" method="post">

                    <div class="">
                        <label for="card-number">{% trans 'CARD NUMBER' %}</label>
                        <div id="card-number" class="field"></div>
                    </div>

                    <div class="form-row">
                        <div class="col" >
                            <label for="expiration-date">{% trans 'EXPIRY DATE' %}</label>
                            <div id="expiration-date" class="field"></div>
                        </div>
                        <div class="col" >
                            <label for="cvv">{% trans 'CVV CODE' %}</label>
                            <div id="cvv" class="field"></div>
                        </div>
                    </div>

                    <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                    {% csrf_token %}<br/>
                    <input type="submit" class="btn btn-primary btn-md btn-block py-3" value="{% trans 'Pay' %}" st>
                </form>
                    <br>Testing data:<br><i>
                    {% trans 'CARD NUMBER' %}: 4111 1111 1111 1111<br>
                    {% trans 'EXPIRY DATE' %}: 0428<br>
                    {% trans 'CVV CODE' %}: 123
                </i>
            </div>
        </div>
    </div>


  <!-- includes the Braintree JS client SDK -->
  <script src="https://js.braintreegateway.com/web/3.58.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.58.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '16px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'},
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}